In [25]:
from bokeh.plotting import figure, output_file, show
import pandas

df = pandas.read_csv("adbe.csv", parse_dates=["Date"])
df

          Date   Open   High    Low  Close    Volume
0   2012-08-02  30.46  30.83  30.25  30.58   2639980
1   2012-08-01  31.05  31.17  30.64  30.69   2738740
2   2012-07-31  30.99  31.27  30.84  30.88   2662853
3   2012-07-30  31.89  31.95  30.92  31.01   4261193
4   2012-07-27  31.26  32.00  31.17  31.90   3312890
..         ...    ...    ...    ...    ...       ...
898 2009-01-08  24.01  24.38  23.63  24.29   6207342
899 2009-01-07  23.57  24.81  23.51  24.23  12785603
900 2009-01-06  23.07  24.45  23.07  24.22   7032433
901 2009-01-05  22.52  23.31  22.50  23.13   7385533
902 2009-01-02  21.11  23.10  21.07  23.02   6673430

[903 rows x 6 columns]

In [26]:
p = figure(width=500, height=500, x_axis_type="datetime", sizing_mode='scale_width') # , responsive=True
p.line(df["Date"], df["Close"], color="Orange", alpha=0.5)

output_file("Timeseries.html")
show(p)